<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create blog</title>
</head>
<body>
<h1>Create blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <label>Title: </label><br>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <label>Content: </label><br>
        <textarea rows="20" cols="100" th:field="*{content}" placeholder="Enter your block"></textarea>
    </div>
    <div>
        <label>Category: </label>
        <select th:field="*{category}">
            <option th:each="row: ${categories}" th:value="${row.getId()}" th:text="${row.getName()}"></option>
        </select>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>