<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<form th:action="@{/delete-blog}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Title: </label>
        <p th:text="*{title}"></p>
    </div>

    <div>
        <label>Content: </label>
        <textarea rows="10" cols="20" th:field="*{content}"></textarea>
    </div>

    <div>
        <label>Category: </label>
        <p th:text="${blog.category.getName()}"></p>
    </div>
    <div>
        <input type="submit" value="Delete">
    </div>
</form>
</body>
</html>